* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

header {
    height: 120px;
    background-color: lightgray;
}

.head {
    border-right: 2px solid grey;
    height: 120px;
    width: 600px;
    float: left;
    padding: 10px;
    background-color: white;
} 

#logo {
    width: 120px;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}

.head h1 {
    padding: 30px;
}

nav {
    margin-top: 70px;
    float: right;
    padding: 10px;
}

nav li {
    display: inline;
    list-style: none;
    margin-left:
}

nav a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
}

nav a:hover {
    background-color: grey;
}